In [13]:
import openmeteo_requests
import pandas as pd
import requests_cache
from retry_requests import retry
import requests
import os
from datetime import datetime

## Fetch Weather Data from Openmeteo

In [2]:
# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = -1)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
url = "https://archive-api.open-meteo.com/v1/archive"
params = {
	"latitude": 18.5196,
	"longitude": 73.8554,
	"start_date": "2015-01-11",
	"end_date": "2024-12-31",
	"daily": ["temperature_2m_max", "temperature_2m_min", "precipitation_sum", "weather_code", "sunshine_duration", "cloud_cover_mean", "wind_speed_10m_mean", "winddirection_10m_dominant"],
}
responses = openmeteo.weather_api(url, params=params)

In [11]:
response = responses[0]

print(f"Coordinates: {response.Latitude()}°N {response.Longitude()}°E")
print(f"Elevation: {response.Elevation()} m asl")
print(f"Timezone difference to GMT+0: {response.UtcOffsetSeconds()}s")

Coordinates: 18.523725509643555°N 73.86875915527344°E
Elevation: 555.0 m asl
Timezone difference to GMT+0: 0s

In [12]:
# Process daily data. The order of variables needs to be the same as requested.
daily = response.Daily()
daily_temperature_2m_max = daily.Variables(0).ValuesAsNumpy()
daily_temperature_2m_min = daily.Variables(1).ValuesAsNumpy()
daily_precipitation_sum = daily.Variables(2).ValuesAsNumpy()
daily_weather_code = daily.Variables(3).ValuesAsNumpy()
daily_sunshine_duration = daily.Variables(4).ValuesAsNumpy()
daily_cloud_cover_mean = daily.Variables(5).ValuesAsNumpy()
daily_wind_speed_10m_mean = daily.Variables(6).ValuesAsNumpy()
daily_winddirection_10m_dominant = daily.Variables(7).ValuesAsNumpy()

daily_data = {"date": pd.date_range(
	start = pd.to_datetime(daily.Time(), unit = "s", utc = True),
	end = pd.to_datetime(daily.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = daily.Interval()),
	inclusive = "left"
)}

daily_data["temperature_2m_max"] = daily_temperature_2m_max
daily_data["temperature_2m_min"] = daily_temperature_2m_min
daily_data["precipitation_sum"] = daily_precipitation_sum
daily_data["weather_code"] = daily_weather_code
daily_data["sunshine_duration"] = daily_sunshine_duration
daily_data["cloud_cover_mean"] = daily_cloud_cover_mean
daily_data["wind_speed_10m_mean"] = daily_wind_speed_10m_mean
daily_data["winddirection_10m_dominant"] = daily_winddirection_10m_dominant

daily_dataframe = pd.DataFrame(data = daily_data)

In [13]:
print("\nDaily data\n", daily_dataframe)

Daily data
                           date  temperature_2m_max  temperature_2m_min  \
0    2015-01-11 00:00:00+00:00           28.209000           13.259000
1    2015-01-12 00:00:00+00:00           27.709000           12.509000
2    2015-01-13 00:00:00+00:00           28.159000           14.859000
3    2015-01-14 00:00:00+00:00           28.959000           15.459000
4    2015-01-15 00:00:00+00:00           28.209000           14.009000
...                        ...                 ...                 ...
3638 2024-12-27 00:00:00+00:00           30.253000           20.052999
3639 2024-12-28 00:00:00+00:00           30.103001           19.503000
3640 2024-12-29 00:00:00+00:00           31.003000           19.603001
3641 2024-12-30 00:00:00+00:00           31.052999           19.802999
3642 2024-12-31 00:00:00+00:00           30.653000           18.903000

      precipitation_sum  weather_code  sunshine_duration  cloud_cover_mean  \
0                   0.0           0.0       37052.593750          0.000000
1                   0.0           3.0       37158.527344         21.750000
2                   0.0           3.0       37167.082031         48.250000
3                   0.0           3.0       37175.984375         43.041668
4                   0.0           3.0       37290.023438         44.416668
...                 ...           ...                ...               ...
3638                2.3          53.0       31781.552734         59.875000
3639                0.2          51.0       36000.000000         21.458334
3640                0.2          51.0       34506.890625         35.708332
3641                0.0           0.0       36073.367188          1.791667
3642                0.0           0.0       36070.175781          0.000000

      wind_speed_10m_mean  winddirection_10m_dominant
0                8.084107                   87.986557
1                7.937115                   89.543495
2                6.330598                   58.540066
3                5.552982                   51.170261
4                5.279206                   94.532120
...                   ...                         ...
3638             6.546581                  169.180634
3639             5.255987                  268.085022
3640             4.277874                   57.926182
3641             3.847927                   62.987446
3642             5.049098                   68.921516

[3643 rows x 9 columns]

In [14]:
# Save the dataframe to csv

daily_dataframe.to_csv("../data/raw/weather-data.csv")

## AQI Data Extraction
Since the data is in .xlsx format we must first format it, we're looking to have 2 columns only [date, AQI]

### Testing AQI Data Extraction on 2020 xlsx file

In [24]:
df = pd.read_excel(r"../data/raw/AQI-2020.xlsx", index_col=0)

In [25]:
df

,January,February,March,April,May,June,July,August,September,October,November,December
Date,,,,,,,,,,,,
1,130,153.0,86,49.0,52,61.0,78,51.0,62.0,NaN,82.0,121.0
2,116,165.0,100,49.0,50,62.0,69,48.0,63.0,NaN,119.0,136.0
3,108,104.0,133,53.0,50,59.0,66,46.0,60.0,NaN,98.0,136.0
4,149,95.0,91,50.0,48,61.0,63,NaN,59.0,NaN,79.0,148.0
5,198,128.0,103,48.0,49,59.0,61,46.0,56.0,NaN,60.0,137.0
6,170,109.0,93,50.0,49,58.0,59,46.0,57.0,NaN,65.0,149.0
7,230,88.0,91,52.0,101,58.0,60,47.0,57.0,NaN,75.0,145.0
8,105,100.0,93,71.0,385,61.0,63,47.0,52.0,NaN,77.0,112.0
9,115,91.0,82,61.0,49,49.0,67,44.0,52.0,NaN,62.0,121.0
10,172,76.0,82,50.0,51,46.0,67,43.0,53.0,NaN,68.0,92.0
11,219,75.0,89,51.0,52,45.0,57,46.0,53.0,NaN,78.0,111.0
12,210,104.0,81,51.0,52,46.0,56,49.0,43.0,NaN,NaN,141.0
13,188,108.0,83,51.0,52,46.0,56,48.0,45.0,NaN,NaN,121.0
14,113,147.0,107,58.0,55,44.0,55,48.0,44.0,NaN,96.0,108.0
15,141,119.0,134,51.0,55,NaN,55,50.0,46.0,NaN,195.0,160.0
16,100,116.0,145,58.0,54,NaN,56,47.0,45.0,NaN,125.0,125.0
17,117,94.0,92,48.0,51,NaN,54,47.0,50.0,NaN,66.0,116.0
18,163,204.0,95,52.0,53,NaN,52,50.0,49.0,NaN,76.0,112.0
19,202,132.0,88,51.0,58,NaN,57,50.0,NaN,NaN,91.0,158.0
20,182,151.0,80,52.0,53,NaN,52,51.0,NaN,NaN,62.0,140.0
21,170,136.0,81,50.0,56,NaN,55,50.0,NaN,NaN,64.0,120.0
22,149,146.0,82,50.0,55,NaN,54,49.0,NaN,53.0,80.0,82.0
23,169,123.0,74,50.0,74,46.0,50,47.0,NaN,47.0,85.0,NaN
24,181,150.0,62,52.0,57,62.0,47,50.0,NaN,NaN,97.0,182.0
25,198,111.0,54,51.0,59,81.0,48,56.0,47.0,49.0,165.0,170.0
26,221,122.0,60,100.0,55,78.0,49,53.0,NaN,NaN,151.0,138.0
27,155,166.0,59,48.0,58,77.0,48,55.0,NaN,102.0,120.0,179.0
28,111,169.0,67,53.0,59,79.0,50,55.0,NaN,NaN,70.0,136.0
29,83,NaN,62,50.0,75,76.0,54,55.0,NaN,NaN,71.0,114.0
30,100,NaN,61,51.0,57,79.0,51,57.0,NaN,NaN,106.0,130.0
31,142,NaN,53,NaN,59,NaN,50,59.0,NaN,68.0,NaN,147.0

In [75]:
# Have month and month in numbers to convert to datetime
months = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
]

month_to_num = {
    "January": 1, "February": 2, "March": 3, "April": 4,
    "May": 5, "June": 6, "July": 7, "August": 8,
    "September": 9, "October": 10, "November": 11, "December": 12
}

In [124]:
for date, month_aqi in df.iterrows():
    for month in months:
        aqi = month_aqi[month]
        month_num = month_to_num[month]
        try: #Use try-catch loop to avoid nan's on months which don't have 31 days
            x = datetime(2020,month_num,date)
        except:
            print("Date doesn't exist going to next")
            pass

Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next
Date doesn't exist going to next

### Merging data for all files (2018-2024)

#### Check integrity of all files

In [123]:
years = [2018, 2019, 2020, 2021, 2022, 2023, 2024]

for year in years:
    print(year)
    df = pd.read_excel(f"../data/raw/AQI-{year}.xlsx", index_col=0)

2018
2019
2020
2021
2022
2023
2024

In [3]:
# Initialise a list to store AQI in [date, AQI] format
all_aqi_data = []

# Have month and month in numbers to convert to datetime
months = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
]

month_to_num = {
    "January": 1, "February": 2, "March": 3, "April": 4,
    "May": 5, "June": 6, "July": 7, "August": 8,
    "September": 9, "October": 10, "November": 11, "December": 12
}

years = [2018, 2019, 2020, 2021, 2022, 2023, 2024]
drop_from_years = [2021, 2022, 2023, 2024]

In [4]:
for year in years:
    df = pd.read_excel(f"../data/raw/AQI-{year}.xlsx", index_col=0)
    if year in drop_from_years:
        print("Dropping", df.tail(10).index)
        df.drop(df.tail(10).index, inplace=True)
    for date, month_aqi in df.iterrows():
        for month in months:
            aqi = month_aqi[month]
            month_num = month_to_num[month]
            try: #Use try-catch loop to avoid nan's on months which don't have 31 days
                x = datetime(year,month_num,date)
                all_aqi_data.append((x, aqi))
            except Exception as e:
                pass

Dropping Index([                ' ',              'Good',      'Satisfactory',
                'Moderate',              'Poor',         'Very poor',
                  'Severe',                 nan,                'SP',
       '% of Availability'],
      dtype='object', name='Day')
Dropping Index([                ' ',              'Good',      'Satisfactory',
                'Moderate',              'Poor',         'Very poor',
                  'Severe',                 nan,                'SP',
       '% of Availability'],
      dtype='object', name='Day')
Dropping Index([                ' ',              'Good',      'Satisfactory',
                'Moderate',              'Poor',         'Very poor',
                  'Severe',                 nan,                'SP',
       '% of Availability'],
      dtype='object', name='Day')
Dropping Index([                ' ',              'Good',      'Satisfactory',
                'Moderate',              'Poor',         'Very poor',
                  'Severe',                 nan,                'SP',
       '% of Availability'],
      dtype='object', name='Day')

In [5]:
print(all_aqi_data[0:10])

[(datetime.datetime(2018, 1, 1, 0, 0), np.float64(75.0)), (datetime.datetime(2018, 2, 1, 0, 0), np.float64(73.0)), (datetime.datetime(2018, 3, 1, 0, 0), np.float64(114.0)), (datetime.datetime(2018, 4, 1, 0, 0), np.float64(93.0)), (datetime.datetime(2018, 5, 1, 0, 0), np.float64(99.0)), (datetime.datetime(2018, 6, 1, 0, 0), np.float64(94.0)), (datetime.datetime(2018, 7, 1, 0, 0), np.float64(49.0)), (datetime.datetime(2018, 8, 1, 0, 0), np.float64(87.0)), (datetime.datetime(2018, 9, 1, 0, 0), np.float64(50.0)), (datetime.datetime(2018, 10, 1, 0, 0), np.float64(87.0))]

In [6]:
data = pd.DataFrame(all_aqi_data, columns=["Date", "AQI"])

In [7]:
data.sort_values(by="Date", inplace=True)

In [8]:
file_to_export = data.reset_index()

In [9]:
file_to_export

      index       Date    AQI
0         0 2018-01-01   75.0
1        12 2018-01-02   76.0
2        24 2018-01-03   79.0
3        36 2018-01-04   84.0
4        48 2018-01-05   97.0
...     ...        ...    ...
2552   2514 2024-12-27  109.0
2553   2526 2024-12-28   95.0
2554   2538 2024-12-29  110.0
2555   2549 2024-12-30   87.0
2556   2556 2024-12-31  103.0

[2557 rows x 3 columns]

In [10]:
file_to_export = file_to_export.drop("index", axis=1)

In [11]:
file_to_export

           Date    AQI
0    2018-01-01   75.0
1    2018-01-02   76.0
2    2018-01-03   79.0
3    2018-01-04   84.0
4    2018-01-05   97.0
...         ...    ...
2552 2024-12-27  109.0
2553 2024-12-28   95.0
2554 2024-12-29  110.0
2555 2024-12-30   87.0
2556 2024-12-31  103.0

[2557 rows x 2 columns]

In [12]:
file_to_export.to_csv("../data/raw/AQI-Data.csv")