# Exploratory Data Analysis

We will be working with our processed csv file to understand the features and trends of the existing data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
data = pd.read_csv("../data/processed/processed.csv", index_col="Date")

### Exploring the dataset and checking for missing values

In [10]:
data

,AQI,Year,Month,Day,temperature_2m_max,temperature_2m_min,precipitation_sum,weather_code,sunshine_duration,cloud_cover_mean,wind_speed_10m_mean,winddirection_10m_dominant
Date,,,,,,,,,,,,
2018-01-01,75.0,2018,1,1,28.253,14.503,0.0,0.0,36062.707,0.000000,5.679092,270.613800
2018-01-02,76.0,2018,1,2,28.453,12.903,0.0,1.0,36040.188,7.166666,4.744073,278.325560
2018-01-03,79.0,2018,1,3,28.903,15.303,0.0,0.0,36101.605,0.083333,5.611268,285.883900
2018-01-04,84.0,2018,1,4,28.353,15.303,0.0,0.0,36083.652,1.541667,5.784296,326.564940
2018-01-05,97.0,2018,1,5,28.453,14.003,0.0,3.0,36066.500,46.125000,5.506170,287.776520
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-27,109.0,2024,12,27,30.253,20.053,2.3,53.0,31781.553,59.875000,6.546581,169.180630
2024-12-28,95.0,2024,12,28,30.103,19.503,0.2,51.0,36000.000,21.458334,5.255987,268.085020
2024-12-29,110.0,2024,12,29,31.003,19.603,0.2,51.0,34506.890,35.708332,4.277875,57.926180
2024-12-30,87.0,2024,12,30,31.053,19.803,0.0,0.0,36073.367,1.791667,3.847927,62.987446
2024-12-31,103.0,2024,12,31,30.653,18.903,0.0,0.0,36070.176,0.000000,5.049099,68.921520

In [11]:
data.head()

,AQI,Year,Month,Day,temperature_2m_max,temperature_2m_min,precipitation_sum,weather_code,sunshine_duration,cloud_cover_mean,wind_speed_10m_mean,winddirection_10m_dominant
Date,,,,,,,,,,,,
2018-01-01,75.0,2018,1,1,28.253,14.503,0.0,0.0,36062.707,0.000000,5.679092,270.61380
2018-01-02,76.0,2018,1,2,28.453,12.903,0.0,1.0,36040.188,7.166666,4.744073,278.32556
2018-01-03,79.0,2018,1,3,28.903,15.303,0.0,0.0,36101.605,0.083333,5.611268,285.88390
2018-01-04,84.0,2018,1,4,28.353,15.303,0.0,0.0,36083.652,1.541667,5.784296,326.56494
2018-01-05,97.0,2018,1,5,28.453,14.003,0.0,3.0,36066.500,46.125000,5.506170,287.77652

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2557 entries, 2018-01-01 to 2024-12-31
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   AQI                         2557 non-null   float64
 1   Year                        2557 non-null   int64
 2   Month                       2557 non-null   int64
 3   Day                         2557 non-null   int64
 4   temperature_2m_max          2557 non-null   float64
 5   temperature_2m_min          2557 non-null   float64
 6   precipitation_sum           2557 non-null   float64
 7   weather_code                2557 non-null   float64
 8   sunshine_duration           2557 non-null   float64
 9   cloud_cover_mean            2557 non-null   float64
 10  wind_speed_10m_mean         2557 non-null   float64
 11  winddirection_10m_dominant  2557 non-null   float64
dtypes: float64(9), int64(3)
memory usage: 259.7+ KB

In [13]:
data.describe

<bound method NDFrame.describe of               AQI  Year  Month  Day  temperature_2m_max  temperature_2m_min  \
Date
2018-01-01   75.0  2018      1    1              28.253              14.503
2018-01-02   76.0  2018      1    2              28.453              12.903
2018-01-03   79.0  2018      1    3              28.903              15.303
2018-01-04   84.0  2018      1    4              28.353              15.303
2018-01-05   97.0  2018      1    5              28.453              14.003
...           ...   ...    ...  ...                 ...                 ...
2024-12-27  109.0  2024     12   27              30.253              20.053
2024-12-28   95.0  2024     12   28              30.103              19.503
2024-12-29  110.0  2024     12   29              31.003              19.603
2024-12-30   87.0  2024     12   30              31.053              19.803
2024-12-31  103.0  2024     12   31              30.653              18.903

            precipitation_sum  weather_code  sunshine_duration  \
Date
2018-01-01                0.0           0.0          36062.707
2018-01-02                0.0           1.0          36040.188
2018-01-03                0.0           0.0          36101.605
2018-01-04                0.0           0.0          36083.652
2018-01-05                0.0           3.0          36066.500
...                       ...           ...                ...
2024-12-27                2.3          53.0          31781.553
2024-12-28                0.2          51.0          36000.000
2024-12-29                0.2          51.0          34506.890
2024-12-30                0.0           0.0          36073.367
2024-12-31                0.0           0.0          36070.176

            cloud_cover_mean  wind_speed_10m_mean  winddirection_10m_dominant
Date
2018-01-01          0.000000             5.679092                  270.613800
2018-01-02          7.166666             4.744073                  278.325560
2018-01-03          0.083333             5.611268                  285.883900
2018-01-04          1.541667             5.784296                  326.564940
2018-01-05         46.125000             5.506170                  287.776520
...                      ...                  ...                         ...
2024-12-27         59.875000             6.546581                  169.180630
2024-12-28         21.458334             5.255987                  268.085020
2024-12-29         35.708332             4.277875                   57.926180
2024-12-30          1.791667             3.847927                   62.987446
2024-12-31          0.000000             5.049099                   68.921520

[2557 rows x 12 columns]>